@import "../../../SCSS/index.scss";

.footer{
    background-color: $backgrounnd-dark-web;
    border-top: 3px solid $primary-color;
    color:$font-light;

    &-copyright{
        margin-top: 30px;

        .ant-col{
            color:$primary-color-dark;

            &:last-of-type{
                text-align: right;
            }
        }
    }
}
