@import "../../../SCSS/index.scss";

.menu-top-web {
  display: flex;

  button {
    background-color: transparent;
    color: $font-light;

    &:hover {
      color: $primary-color;
    }
    &:focus,
    &:active {
      color: $font-light;
    }
  }

  &-left {
    &-logo {
      width: 150px;
      height: 95px;
      padding: 0 10px;
      margin-top: -15px;
    }
  }

  &-right {
    position: absolute;
    right: 0;
  }
}

.anticon-menu-fold {
  font-size: 23px;
}
.anticon-menu-unfold {
  font-size: 23px;
}

.anticon-poweroff {
  font-size: 20px;
  :hover {
    color: red;
  }
}
.ant-btn-link {
  margin-top: -20px;
}
